@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;500;800&display=swap');
body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.containBox{
  margin-top: 130px;
  margin-bottom: 80px ;
}
.btn{
  margin-left: 5px;
  margin-right: 5px;
}
.txtCardHead{
  font-size: 16px;
  font-weight: 500;
}
.txtCard{
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.price{
  font-size: 24px;
  font-weight: 300;
}

.boxBar {
  color: #697f69;
  background-color: #fff;
  font-size: 12px;
  font-weight: 300;
  bottom: 0em;
  position: fixed;
}
.cardPlan1{
  color: #fff;
  background-color: #697f69;
}
.cardPlan2{
  color: #fff;
  background-color: #697f69;
}
.cardPlan3{
  color: #fff;
  background-color: #697f69;
}

.topic{
  color: #627498;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 21px;
}
.topic2{
  font-size: 18px;
  color: #5b785b;
  margin-bottom:20px;
  font-weight: 300;
}

a:link {
  color: #5b785b;
  text-decoration: none;
}
a:visited {
  color: #5b785b;
}
a:hover {
  color: #e7400d;
}
a:active {
  color: #5b785b;
}

.color {
  background-color: #ccc;
}
.profile{
  border-style: solid;
  border-color: #d7e4d7;
  border-width: 3px;
  border-radius: 100px;
}
.txtProfile{
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:3px;
  border-left-width:5px;
  border-left-color:#697f69;
  border-left-style:solid;
  background-color:#f6fff6;
}
.txtHead{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #627498;
}
.txtDetail{
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  color: #627498;
}
.question{
  margin-bottom:0px;
  font-size: 12px;
}
.result{
  font-size: 12px; 
  font-weight: 300;
  margin-bottom:0px; 
  color:'#627498';
}
.checkAns{
  margin-bottom:0px;
  font-weight: 300;
  text-align: right;
  color:'#627498';
}
.txtPlan {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through; 
  text-decoration-thickness: 0.05em;
}
.showTextMenu{
  display: none;
}
.codeComment{
  color:#697f69;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 14px;
}

.login{
  display: inline-block;
  border: 1px solid rgb(202, 209, 205);
	border-radius: 5px 5px 5px 5px;
	color: #e7400d;
	padding: 10px;
	width: 100%;
  font-size: 14px;
  font-weight: 300;
}
.btnLogin{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  background-color: #17a2b8;
  color: white;
  padding: 5px
}
.btnLoginFree{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  background-color: #eb5749;
  color: white;
  padding: 5px
}
.txtDownload{
  color: #17a2b8;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
}

.bi::before {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}
.txtRobot{
  margin-top:45px; 
  font-size: 24px; 
  font-weight: 800;
  color:'#627498';
}
.txtTitleApp{
  font-size: 14px; 
  font-weight: 300;
  color:'#627498';
}
@media (max-width: 767.98px) { 
  .btnFull {width: 100%}
  .showTextMenu{
    display: inline;
    text-decoration: none;
  }
  .showIcon{
    display: none;
  }
}